body {
  font-family: 'Oswald', sans-serif;
  background-color: lightgrey;

}

header {
  background-color: white;
}


/************/
/** Table  **/
/************/
.tbl-container{
  width:80%;
  font-size:1.5em;
}

.table{
   display: block;
   max-height: 50vh;
   overflow-x: auto;
   padding:3em;
   border-radius: .25em;
  /* width: 100%;
  font-size:1.5em;
  padding:30px;
  overflow: scroll;
  max-height: 50vh; */
  /* border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd; */

}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
  font-size:30px;;
 }

 tbody{
  font-size:1.5em;
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}

th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  background-color:#45a2e8;
}

td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 14px;
  color: #000;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

tr:nth-child(even)  {
  background-color: #f0f0f0;
  /* color: red; */
}

tr:nth-child(odd)  {
  background-color: lightgray;
  /* color: red; */
}

tr:hover{
  /* background-color: #85d5f5; */
  background-color: #127abe;
  color:white;
  font-size:500;
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

/* .table {
  display: block;
  max-height: 50vh;
  overflow: scroll;
  padding:3em;
  border-radius: .25em;
}

.table td, th {
 border: 1px solid #ddd;
 padding: 8px;
 width: 10vw;
}

.table tr:nth-child(even){
  background-color: #aee1f5;
}

.table tr:nth-child(odd){
  background-color:	#bae4f4;
}

.table  tr:hover{
  background-color: #85d5f5;
}

.table th {
position: -webkit-sticky;
position: -moz-sticky;
position: -ms-sticky;
position: -o-sticky;
position: sticky;
top: 0;

padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #2b7fa8;
color: white;
}

/**********/
/** Form **/
/**********/

.reservation-form {
  margin: 1.25em;
  max-width: 30em;
  line-height: 1.5;
}

label {
  display:block;
  margin-bottom: .8em;
  color: #45a2e8;
  font-weight: 400;
  font-size: 1em;
  text-shadow: 1px 1px 1px #fff;
}

.reservation-form label > span {
	float: left;
	width: 10em;
	font-size: 1em;
}

fieldset {
  border-radius: 10px;
  margin: 20px 0px 10px 0px;
  padding: 1.25em;
  background: #fafafa;
  border:1px solid #127abe;
}

legend {
  color: #45a2e8;
  border-radius: 5px 5px 0px 0px;
  background: #fafafa;
  border:1px solid #127abe;
  border-bottom: 0;
  padding: 0 0.5em .25em 0.5em;
  font-weight: 400;
  font-size: 1em;
}

.reservation-form input[type=text],
.reservation-form input[type=date],
.reservation-form input[type=number],
.reservation-form select,
.reservation-form textarea {
  border-radius: .25em;
  border: 0px;
  border: 1px solid #45a2e8;
  font-size: 1em;
  height: 1.6em;
  font-weight: 400;
  font-family:"Raleway";
  outline: none;
  color: #002b6e;
  padding: 0.25em 0.5em 0.25em 0.5em;
  -webkit-box-shadow: inset 0px 0px 3px 0 rgba(0,0,0,0.4);
  box-shadow: inset 0px 0px 3px 0 rgba(0,0,0,0.4);
  background: #ffffff;
  width:40%;
}

.reservation-form select {
  width:6em;;
}


.reservation-form input[type=change-date] {
  /* width:9.5em;*/
}

/*Allows to control the placeholder text for the calendar picker*/
/* .reservation-form input[type=date]:before {
  content: attr(placeholder) !important;
  color: #5C5C5C;
  margin-right: 2.8em;
}
.reservation-form input[type=date]:focus:before,
.reservation-form input[type=date].hasValue:before {
  content: "" !important;
  margin-right: 0;
} */

.reservation-form input[type=number] {
  width:2em;
}

.reservation-form input[type=submit],
.reservation-form input[type=button]{
  margin-right: 1em;
  font-size: 1em;
  background: #127abe;
  border: 1px solid #002b6e;
  padding: .25em 1em 0.25em 1em;
  color: #e7fff7;
  border-radius: 0.25em;
  border-radius: 0.25em;
  font-weight: 400;
}

.reservation-form input[type=submit]:hover,
.reservation-form input[type=button]:hover{
  background: #e7fff7;
  border: 1px solid #002b6e;
  padding: .25em 1em 0.25em 1em;
  color: #45a2e8;
  border-radius: 0.25em;
  border-radius: 0.25em;
  font-weight: 400;
}

button {
  margin-right: 1em;
  font-size: 1em;
  background: #127abe;
  border: 1px solid #002b6e;
  padding: .25em 1em 0.25em 1em;
  color: #e7fff7;
  border-radius: 0.25em;
  border-radius: 0.25em;
  font-weight: 400;
}

button:hover {
  background: #e7fff7;
  border: 1px solid #002b6e;
  padding: .25em 1em 0.25em 1em;
  color: #45a2e8;
  border-radius: 0.25em;
  border-radius: 0.25em;
  font-weight: 400;
}

button a {
  text-decoration: none;
  color:#e7fff7;
}

button a:visited {
  text-decoration: none;
}

button a:hover {
  text-decoration: none;
  color: #45a2e8;
}

button a:focus {
  text-decoration: none;
}

button a:hover, button a:active  {
  text-decoration: none;
}

/***********/
/* Nav Bar */
/***********/

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #127abe;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: #0b5383;
}
